.one-third {
  position: relative;
  display: block;
  height: 20%;
  width: 100%;
}

#snapchat {
  position: absolute;
  margin-top: 30%;
  margin-left: 30%;
  height: 32px;
}

#weather {
  position: absolute;
  margin-top: 30%;
  margin-left: 45%;
  height: 32px;
}

#angry-bird {
  position: absolute;
  margin-top: 30%;
  margin-left: 60%;
  height: 32px;
}


#facebook {
  position: absolute;
  margin-top: 30%;
  margin-left: 30%;
  height: 32px;
}

#mail {
  position: absolute;
  margin-top: 30%;
  margin-left: 45%;
  height: 32px;

}

#spotify {
  position: absolute;
  margin-top: 30%;
  margin-left: 60%;
  height: 32px;
}
#twitter{
  position: absolute;
  margin-top: 30%;
  margin-left: 30%;
  height: 32px;
}

#vsco {
  position: absolute;
  margin-top: 30%;
  margin-left: 45%;
  height: 32px;

}

#youtube {
  position: absolute;
  margin-top: 30%;
  margin-left: 60%;
  height: 32px;
}



