#iphone {
  background-image: url("../images/iphone6-1.png");
  height: 700px;
  background-repeat: no-repeat;
  margin-left: 25%;
  margin-right: 25%;

}

header {
  text-align: center;
}

#first-three{
  width: 100%;
  position: absolute;
  top: 300px;
  left: 44%;

}

#snapchat {
  margin-right: 20px;
}

#weather {
 margin-right: 20px;
 margin-left: 20px;

}

#angry-bird {
  margin-left: 20px;
}

#second-three{
  width: 100%;
  position: absolute;
  top: 400px;
  left: 44%;

}

#facebook {
  margin-right: 20px;
}

#mail {
 margin-right: 20px;
 margin-left: 20px;

}

#spotify {
  margin-left: 20px;
}

#third-three{
  width: 100%;
  position: absolute;
  top: 500px;
  left: 44%;

}

#twitter{
  margin-right: 20px;
}

#vsco {
 margin-right: 20px;
 margin-left: 20px;

}

#youtube {
  margin-left: 20px;
}

